packages/backend/node_modules
packages/web/node_modules
packages/mobile/node_modules
packages/mobile/.expo
packages/backend/package-lock.json
packages/web/package-lock.json
packages/mobile/package-lock.json
backend/yarn.lock
packages/web/yarn.lock
packages/mobile/yarn.lock
.idea
